<!--------------------------------------- Calling header and footer from base html --------------------------------------->
{% extends 'base.html'%}
<!---------------------------------------- Body section will go here --------------------------------------->
{% block content %}
<!----------------------------------------About me section starts----------------------------------------->
<div class="main_about_me_div">
  <h2>About Me</h2>
  <div class="Shahabjan_img_div">
      <img class="shahabjan_photo" src="/static/images/IMG_20230603_221506.jpg">
  </div>
  <h1>Shahabjan Ahamad</h1>
  <p>I'm a Full Stack Developer and in love with Programming, Singing, Discovering new worlds and
      cultures. Currently I'm skilled in Python, HTML, CSS as well as Flask and MySQL Database. And
      currently working at TechPath Research & Developement PVT. I'm eager to learn everything as much as
      i can and I want to become a genius in my field.
  </p>
</div>
<!----------------------------------------About me section ends----------------------------------------->
{%endblock%}
<!------------------------------------------ Body section will end here -------------------------------------->