<!--------------------------------------- Calling header and footer from base html --------------------------------------->
{% extends 'base.html'%}
<!------------------------------------------- Body section will go here ----------------------------------------->
{% block content %}
<!------------------------------------Banner section starts------------------------------------------>
<div class="banner_div">
    <img class="banner_image" src="/static/images/student pic.jpg">
    <div class="quote-container">
        <p class="quote">"Education is the passport to the future,<br> for tomorrow belongs to those <br>who
            prepare for it today"</p>
        <p class="shahabjan">By Shahabjan...</p>
        <a href="/contactus"><button>Contact Us</button></a>
    </div>
</div>
<!---------------------------------Banner section ends----------------------------------------------->
<!---------------------------All four facilities section starts-------------------------------------->
<div class="grid_text_div">
    <div class="first_grid_div">
        <i class="fas fa-user-check certified-teachers-icon"></i>
        <h4>Certified Teachers</h4>
        <p>Even the all-powerful pointing has no control about the bind texts it is an almost unorthographics.
        </p>
    </div>
    <div class="second_grid_div">
        <i class="fas fa-graduation-cap special-education-icon"></i>
        <h4>Special Education</h4>
        <p>Even the all-powerful pointing has no control about the bind texts it is an almost unorthographics.
        </p>
    </div>
    <div class="third_grid_div">
        <i class="fas fa-book-open book-library-icon"></i>
        <h4>Books & Library</h4>
        <p>Even the all-powerful pointing has no control about the bind texts it is an almost unorthographics.
        </p>
    </div>
    <div class="forth_grid_div">
        <i class="fas fa-futbol sport-clubs-icon"></i>
        <h4>Sports & Clubs</h4>
        <p>Even the all-powerful pointing has no control about the bind texts it is an almost unorthographics.
        </p>
    </div>
</div>
<!---------------------------All four facilities section ends--------------------------------------->
<!------------------------------BUlb section starts------------------------------------------------->
<div class="bulb_div">
    <div class="bulb_img_div">
        <img class="bulb_pic" src="/static/images/bulb photo.webp">
    </div>
    <div class="bulb_text_div">
        <h2>How Mirza starts the Future of Learning</h2>
        <p>Our learning behaviour is changing due to the influence of various trends. Companies need to respond
            and implement a lifelonglearnig culture. MIRZA supports this trend with innovative industry learning
            methods. Read this informative article from Dr. Ralph-Christian Ohr for more!</p>
        <button>Read More</button>
    </div>
</div>
<!--------------------------------Bulb section ends-------------------------------------------->
<!---------------------------Three learning paragraph starts------------------------------------>
<div class="three_learning_div">
    <h2>The three learning formats of <span>MIRZA</span> - Digital Industry Academy</h2>
    <p>Face-to-face training or digital training, regardless of location, 24/7, on-demand or learning on fixed
        dates and course times? With a personal learning consultant, in a team or on you own responsibility just
        for yourself? With our training courses everything is possible. In addition to 'Learning Event', MIRZA
        offers further learning formats with 'Learning Journey' and 'Learning Membership'.
    </p>
</div>
<!----------------------------------Three learning paragraph ends---------------------------------------->
<!---------------------------All three learning strategy section starts---------------------------------->
<div class="learningmaindiv">
    <div class="learning_pic_div1">
        <div class="image_container">
            <img class="learningpic1" src="/static/images/learning pic1.webp">
            <img class="play_button" src="/static/images/play pic.svg">
        </div>
        <h2>Learning Event</h2>
        <p>The compact and guided way to acquire knowledge</p>
        <button>Read More</button>
    </div>
    <div class="learning_pic_div2">
        <div class="image_container">
            <img class="learningpic2" src="/static/images/learning pic2.jpg">
            <img class="play_button" src="/static/images/play pic.svg">
        </div>
        <h2>Learning Membership access</h2>
        <p>The compact and guided way to acquire knowledge</p>
        <button>Read More</button>
    </div>
    <div class="learning_pic_div3">
        <div class="image_container">
            <img class="learningpic3" src="/static/images/learning pic3.jpg">
            <img class="play_button" src="/static/images/play pic.svg">
        </div>
        <h2>Learning Journey</h2>
        <p>The compact and guided way to acquire knowledge</p>
        <button>Read More</button>
    </div>
</div>
<!---------------------------All three learning strategy section ends---------------------------------->
<!--------------------------Knowledge expanding paragraph section starts---------------------------------->
<div class="expand_quote_div">
    <h1>Expand knowledge, apply what<br> you have learned, build future skills</h1>
    <p>MIRZA - Digital Industry Academy combines didactically effective methods with modular options. The
        effects: knowledge-based competencies and strengthened and secured as a success factor. Because the
        future viability of your company develops with your employees - supported by a innovative learning
        officer.
    </p>
</div>
<!--------------------------Knowledge expanding paragraph section ends---------------------------------->
<!---------------------------------All four goal section starts----------------------------------------->
<div class="goals_main_div">
    <div class="effective_div">
        <img class="cap_pic" src="/static/images/cap_pic.webp">
        <h1>Effective</h1>
        <p>Lastingly expand your knowledge with a dedicatcally optimized combination of different learning
            methods, either through independent self study or together with others and your learning consultant.
        </p>
        <button>Know More</button>
    </div>
    <div class="flexible_div">
        <img class="cap_pic" src="/static/images/arrow_pic.webp">
        <h1>Flexible</h1>
        <p>Choose the learning method that can be best integrated in your regular workday. Or go with a
            combination of methods.</p>
        <button>Know More</button>
    </div>
    <div class="relevant_div">
        <img class="cap_pic" src="/static/images/goal_pic.webp">
        <h1>Relevant</h1>
        <p>Only learn what your really need. And only when you need it. Tailored to your specific demands. You
            decide based on your requirements.</p>
        <button>Know More</button>
    </div>
    <div class="graph_div">
        <img class="cap_pic" src="/static/images/graph_pic.webp">
        <h1>Continous</h1>
        <p>Knowledge is transient. Ensure your future viability with a continous learning process, and learn in
            line with the needs of a modern learning culture.</p>
        <button>Know More</button>
    </div>
</div>
<!------------------------------------All four goal section ends-------------------------------------------->
<!----------------------------------------About me section starts----------------------------------------->
<div class="main_about_me_div">
    <h2>About Me</h2>
    <div class="Shahabjan_img_div">
        <img class="shahabjan_photo" src="/static/images/IMG_20230603_221506.jpg">
    </div>
    <h1>Shahabjan Ahamad</h1>
    <p>I'm a Full Stack Developer and in love with Programming, Singing, Discovering new worlds and
        cultures. Currently I'm skilled in Python, HTML, CSS as well as Flask and MySQL Database. And
        currently working at TechPath Research & Developement PVT. I'm eager to learn everything as much as
        i can and I want to become a genius in my field.
    </p>
</div>
<!----------------------------------------About me section ends----------------------------------------->
{%endblock%}
<!--------------------------------------- Body section ends here ----------------------------------->